
.idea/

__pycache__/

Scripts/Include/site/python3.7/greenlet/

Scripts/Scripts/

Scripts/Lib/site-packages/zope/interface/tests/

Scripts/Lib/site-packages/zope/interface/common/tests/

Scripts/Lib/site-packages/zope/interface/

*.dll

Scripts/Lib/site-packages/zope.event-4.5.0.dist-info/

Scripts/